{% extends 'base.html' %}

{% block content %}
<h2>Tarif Ekle</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    {{ formset.management_form }}

    <div id="formset-container">
        {% for form in formset %}
            <div class="ingredient-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>

    <button type="button" id="add-more">Daha Fazla Malzeme Ekle</button>
    <button type="submit">Tarif Ekle</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#add-more').click(function() {
        var formIndex = $('#id_{{ formset.prefix }}-TOTAL_FORMS').val();
        var newForm = $('.ingredient-form:first').clone(true);
        newForm.find(':input').each(function() {
            var newName = $(this).attr('name').replace('-0-', '-' + formIndex + '-');
            var newId = 'id_' + newName;
            $(this).attr({'name': newName, 'id': newId}).val('').removeAttr('checked');
        });
        newForm.insertBefore('#add-more');
        $('#id_{{ formset.prefix }}-TOTAL_FORMS').val(parseInt(formIndex) + 1);
    });
</script>

{% endblock %}
