<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yemek Tarifleri</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Çıkış Yap</a></li>
                    <li><a href="{% url 'add_recipe' %}">Tarif Ekle</a></li>
                    <li><a href="{% url 'profile' %}">Profil</a></li>
                    <li><a href="{% url 'chef_recommended' %}">Şefin Önerileri</a></li>
                    <a href="{% url 'calorie_calculator' %}">Kalori Hesaplayıcı</a>
                    {% else %}
                    <li><a href="{% url 'login' %}">Giriş Yap</a></li>
                    <li><a href="{% url 'signup' %}">Kayıt Ol</a></li>
                {% endif %}
                <li><a href="{% url 'en_tarifler' %}">"En" Tarifler</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
