<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yemek Tarifleri</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Çıkış Yap</a></li>
                    <li><a href="{% url 'add_recipe' %}">Tarif Ekle</a></li>
                    <li><a href="{% url 'profile' %}">Profil</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Giriş Yap</a></li>
                    <li><a href="{% url 'signup' %}">Kayıt Ol</a></li>
                {% endif %}
                <li><a href="{% url 'top_rated_recipes' %}">En Beğenilen Tarifler</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
