{% extends 'base.html' %}

{% block content %}
<h1>Yemek Tarifleri - Ana Sayfa</h1>

<div class="container">
  <div class="left-column">
    <h2>Son Eklenen Tarifler</h2>
    <div class="recipes">
      {% for recipe in recipes %}
        <div class="recipe">
          <h3>
            <a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a>
          </h3>
          <a href="{% url 'recipe_detail' pk=recipe.pk %}">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" width="100">
          </a>
          <p>{{ recipe.instructions|slice:":100" }}...</p>
          <p>Yazar: <a href="{% url 'user_profile' username=recipe.created_by.username %}">{{ recipe.created_by.username }}</a></p>
        </div>
      {% empty %}
        <p>Henüz tarif eklenmemiş.</p>
      {% endfor %}
    </div>
  </div>

  <div class="right-column">
    <h1>Kategoriler</h1>
    <ul>
      <li><a href="{% url 'category_recipes' category='MAIN' %}">Ana Yemekler</a></li>
      <li><a href="{% url 'category_recipes' category='APP' %}">Aperatifler</a></li>
      <li><a href="{% url 'category_recipes' category='DES' %}">Tatlılar</a></li>
      <li><a href="{% url 'category_recipes' category='VEGAN' %}">Vegan</a></li>
      <li><a href="{% url 'category_recipes' category='VEG' %}">Vejetaryen</a></li>
      <li><a href="{% url 'category_recipes' category='SEA' %}">Deniz Ürünleri</a></li>
      <li><a href="{% url 'category_recipes' category='SOUP' %}">Çorbalar</a></li>
      <li><a href="{% url 'category_recipes' category='SALAD' %}">Salatalar</a></li>
      <li><a href="{% url 'category_recipes' category='QUICK' %}">Hızlı ve Kolay</a></li>
      <li><a href="{% url 'category_recipes' category='HEALTHY' %}">Sağlıklı Tarifler</a></li>
      <li><a href="{% url 'category_recipes' category='SP' %}">Special</a></li>
    </ul>
  </div>
</div>
{% endblock %}
