{% extends 'base.html' %}

{% block content %}
<h1>Yemek Tarifleri - Ana Sayfa</h1>

<div class="container">
  <div class="left-column">
    <h2>Son Eklenen Tarifler</h2>
    <div class="recipes">
      {% for recipe in recipes %}
        <div class="recipe">
          <h3>
            <a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a>
          </h3>
          <a href="{% url 'recipe_detail' pk=recipe.pk %}">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" width="100">
          </a>
          <p>{{ recipe.instructions|slice:":100" }}...</p>
        </div>
      {% empty %}
        <p>Henüz tarif eklenmemiş.</p>
      {% endfor %}
    </div>
  </div>

  <div class="right-column">
    <h2>Kategoriler</h2>
    <ul>
      <li>Kategori 1</li>
      <li>Kategori 2</li>
    </ul>
  </div>
</div>
{% endblock %}
