{% extends 'base.html' %}

{% block content %}
<h1>{{ recipe.title }}</h1>
<img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" width="200">
<p>{{ recipe.instructions }}</p>

<p>Ortalama Puan: {{ average_rating|default:"Henüz puan verilmemiş" }}</p>
<p>Toplam Kalori: {{ recipe.calculate_total_calories }} kcal</p>
<h2>Tarif Adımları</h2>
{% if steps %}
<ol>
    {% for step in steps %}
    <li>{{ step }}</li>
    {% endfor %}
</ol>
{% else %}
<p>Bu tarife ait adım bulunmamaktadır.</p>
{% endif %}

<p>Miktar ve Malzemeler:</p>
<ul>
{% for ingredient in recipe.ingredients.all %}
    <li>{{ ingredient }}</li>
{% endfor %}

<h2>Yorumlar</h2>
{% for comment in comments %}
<div class="comment">
    <p> <a href="{% url 'user_profile' username=comment.author.username %}">{{ comment.author.username }}</a></p>
    <p>{{ comment.content }}</p>
</div>
{% empty %}
<p>Bu tarife henüz yorum yapılmamış.</p>
{% endfor %}

{% if user.is_authenticated %}
<h3>Yorum Yap</h3>
<form method="post" action="">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" name="submit_comment" value="Yorum Gönder">
</form>
{% endif %}

{% if user.is_authenticated %}
<h3>Puan Ver</h3>
<form method="post" action="">
    {% csrf_token %}
    {{ rating_form.as_p }}
    <input type="submit" name="submit_rating" value="Puan Ver">
</form>
{% endif %}

{% endblock %}
